@using Microsoft.AspNetCore.Components
@using DealingAdmin.Abstractions.Models
@using DealingAdmin.Abstractions
@using SimpleTrading.Abstractions.Common.InstrumentsAvatar

@inject ITradingInstrumentsAvatarRepository _imagesRepository

<div>
    <Drawer Closable="true" Width="720" Visible="true" Title="@("Add trading instrument group")" OnClose="_ => OnClose.Invoke()">
        <Template style="height:90%">
            <Row Gutter="16">
                <AntDesign.Col Span="12">
                    <Text>Id</Text>
                    <Input @bind-Value="InstrumentGroup.Id" Placeholder="Id" TValue="string"/>
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <Text>Name</Text>
                    <Input @bind-Value="InstrumentGroup.Name" Placeholder="Name" TValue="string"/>
                </AntDesign.Col>
            </Row>
            <br/>
            <Row >
                <AntDesign.Col>
                    <Text>Weight</Text>
                    <Input @bind-Value="InstrumentGroup.Weight" Placeholder="Weight" TValue="int"/>
                </AntDesign.Col>
            </Row>
        </Template>

        <Button OnClick="@(() => OnSubmit(InstrumentGroup))" Type="primal" Color="Color.Green1" Block>Submit</Button>
    </Drawer>
</div>

@code {

    [Parameter]
    public InstrumentGroupModel InstrumentGroup { get; set; } = new();

    [Parameter]
    public Action OnClose { get; set; }

    [Parameter]
    public Action<InstrumentGroupModel> OnSubmit { get; set; }

}